<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mockway_description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import mockway_description urdf file -->
    <xacro:include filename="$(find mockway_description)/urdf/mockway_description.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="mockway_description.ros2_control.xacro" />


    <xacro:mockway_description_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
